body {
  margin: 0;
background-color: black
}

.nav {
  background-color: gray;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  color:white;
}



.nav li:hover:not(.active) {
  background-color: powderblue;
  color: black;
}
